<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>We connect</title>

   
<link type="text/css" rel="stylesheet" href="../static/bootstrap.css">
      
    
<link type="text/css" rel="stylesheet" href="../static/custom.css"/>

  </head>

  <body>

   
    <nav class="navbar navbar-expand-lg navbar-light bg- static-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">We Connect</a>
        <a class="btn btn-primary" href="index.html">Home</a>  
        <a class="btn btn-primary" href="log in.html">Log in</a>
        <a class="btn btn-primary" href="BsRegister.html">Business register</a>
          <a class="btn btn-primary" href="Businesses.html">Businesses</a>
      </div>
    </nav>


      <div class="jumbotron">
       <div class="row">
        <div class="col-lg-5 offset-md-5">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="../static/pics/weconnect.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">About us</a>
              </h4>
              <p class="card-text">WeConnect provides a platform that brings businesses and individuals together. This platform creates awareness for businesses and gives the users the ability to write reviews about the businesses they have interacted with.  .</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 offset-md-5">
    
        <h1 class="title"> User Register</h1>
        <form action="http://localhost:500/register" method="post">
            <div class="form-group">
                <label>First name</label>
                <input type="text" name="fname" class="form-control">

            </div>

            <div class="form-group">
                <label>Surname</label>
                <input type="text" name="sname" class="form-control">

            </div>
            
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control">

            </div>

            <div class="form-group">
                <label>Confirm password</label>
                <input type="password" name="cpass" class="form-control">

            </div>

            <button type="button" class="btn btn-primary btn-lg">Save</button>
            <button type="button" class="btn btn-secondary btn-lg">Cancel</button>

        </form>
            </div>
      </div>
     
      </div>
      
      
       
    <footer class="py-3 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white"> &copy; We connect 2018</p>
      </div>
      
    </footer>         
    
     </body>
</html>
